footer{
    background-color:indianred;
    text-align:center;
    padding: 5px;
  }
  table, th, td {
    font-size: 20px;
    border: 2px solid red;
    background-color: aqua;;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
  }